@model AddTaskViewModel

<form asp-controller="Home" 
      asp-action="AddTask" 
      method="post"
      data-ajax="true" 
      data-ajax-method="post"
      data-ajax-success="$('#AddTask').hide()"
      data-ajax-update="#showTable"
      data-ajax-mode="replace"
      style="margin-top:50px;">

    <div class="validation" asp-validation-summary="ModelOnly"></div>
 
    <div class="form-group">
        <label asp-for="Title">Название</label>
        <span asp-validation-for="Title" class="text-danger"></span>
        <input asp-for="Title"  class="form-control" />
        <label asp-for="Description">Описание</label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <input asp-for="Description" class="form-control" />
        <label asp-for="DueDate">Срок выполнения</label>
        <span asp-validation-for="DueDate" class="text-danger"></span>
        <input asp-for="DueDate" class="form-control" />
    </div>
    <input type="submit" class="btn btn-success m-2" value="ОК" />
    
</form>


      